<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>ACROSS THE UNIVERSE</string>
		<key>shortcut</key>
		<string>あくろすざゆにばーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ACROSS THE UNIVERSE</string>
		<key>shortcut</key>
		<string>あくろすじゆにばーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>伊藤紅葉</string>
		<key>shortcut</key>
		<string>いとうもみじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Innocent Sky</string>
		<key>shortcut</key>
		<string>いのせんとすかい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>祇園寺</string>
		<key>shortcut</key>
		<string>ぎおんじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>祇園寺雪音</string>
		<key>shortcut</key>
		<string>ぎおんじゆきね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>聖舞理王</string>
		<key>shortcut</key>
		<string>せいぶりお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>絶対王者チョコレート</string>
		<key>shortcut</key>
		<string>ぜったいおうじゃちょこれーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>玉城杏夏</string>
		<key>shortcut</key>
		<string>たまききょうか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>TiNgS</string>
		<key>shortcut</key>
		<string>てぃんず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>青天国</string>
		<key>shortcut</key>
		<string>なばため</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>青天国春</string>
		<key>shortcut</key>
		<string>なばためはる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>祇園寺雪音</string>
		<key>shortcut</key>
		<string>ゆきね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雪音</string>
		<key>shortcut</key>
		<string>ゆきね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゆきもじ</string>
		<key>shortcut</key>
		<string>ゆきもじ</string>
	</dict>
</array>
</plist>
